@import url(https://fonts.googleapis.com/css?family=Righteous);
@import "./icons";
@import "./img";
@import "./form";
@import "./font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  font-family: 'Aa美人篆','苏新诗柳楷繁','苏新诗柳楷简', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow: auto;
}

body {
  color: #080807;
  background-color: rgba(255,255,255);
  font-family: Microsoft YaHei;
}

a {
  color: #0176d3;
  text-decoration: none;
}

.container {
  position: absolute;
  left: 200px;
  right: 0;
  bottom: 0;
  top: 0px;
  overflow-y: auto;
  &.no-sidebar{
    top: 56px;
    left:0;
  }
  .content-wrap {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    padding:24px;
    overflow: auto;
    .content-header{
      margin-bottom:20px;
    }
    .content-box{
      box-sizing: border-box;
      overflow-y: auto;
      background: #FFFFFF;
      box-shadow: 0 6px 11px -2px rgba(169,178,203,0.30);
      border-radius: 12px;
      flex: 1;
      padding:30px;
    }
  }
}
