// TODO icons 样式表，统一命名为 icons-xxxx ，存放在assets/images/icons/ 目录下
@mixin icons($name:'',$width:24px,$height:24px,$bgSize:100%,$va:middle){
  display: inline-block;
  background:url('@/assets/icons/#{$name}') no-repeat center center;
  width:$width;
  height:$height;
  background-size:$bgSize;
  vertical-align: $va;
}

.icons-muyucat-white {
  @include icons('muyucat-white.png', 24px, 24px);
  &.big {
    @include icons('muyucat-white.png', 48px, 48px);
  }
}

.icons-muyucat-gary {
  @include icons('muyucat-gary.png', 24px, 24px);
  &.big {
    @include icons('muyucat-gary.png', 48px, 48px);
  }
}

.icons-user {
  @include icons('login-user.png', 24px, 24px);
}

.icons-password {
  @include icons('login-password.png', 24px, 24px);
}

.icons-head-user {
  @include icons('head-user.png', 24px, 24px);
}

.icons-head-bells {
  @include icons('head-bells.png', 24px, 24px);
}

.icons-head-login-out {
  @include icons('head-login-out.png', 24px, 24px);
}

.icons-sidebar-backBlog {
  @include icons('sidebar-report.png', 16px, 16px);
}

.icons-sidebar-contentMgt {
  @include icons('sidebar-article.png', 16px, 16px);
}

.icons-sidebar-userMgt {
  @include icons('head-user.png', 16px, 16px);
}

.icons-sidebar-setUp {
  @include icons('sidebar-setting.png', 16px, 16px);
}
