@mixin img($name:'',$width:24px,$height:24px,$bgSize:100%,$va:middle){
  display: inline-block;
  background:url('@/assets/images/#{$name}') no-repeat center center;
  width:$width;
  height:$height;
  background-size:$bgSize;
  vertical-align: $va;
}

.img-banner{
  @include img('banner.png', 0, 175px, cover, no-repeat);
}

.img-bannerBig{
  @include img('banner-big.jpg', 100%, 100%, cover, no-repeat);
}

.img-element{
  @include img('element.png', 100%, 100%, cover, no-repeat);
}
